
.ipynb_checkpoints/2019-10-14-Ancient_Economies-checkpoint.ipynb
.ipynb_checkpoints/heg-growth-theory-checkpoint.ipynb
.ipynb_checkpoints/heg-jones-6-innovation-checkpoint.ipynb
.ipynb_checkpoints/ancient-economies-checkpoint.ipynb
.ipynb_checkpoints/heg-malthus-5-preindustrial-checkpoint.ipynb
.ipynb_checkpoints/heg-solow-1-intro-checkpoint.ipynb
.ipynb_checkpoints/heg-solow-2-basics-checkpoint.ipynb
.ipynb_checkpoints/heg-solow-3-growing-checkpoint.ipynb
.ipynb_checkpoints/heg-solow-4-using-checkpoint.ipynb
.ipynb_checkpoints/malthusian_convergence-checkpoint.ipynb
__pycache__/delong_classes.cpython-37.pyc
.ipynb_checkpoints/Scratch-checkpoint.ipynb
